<p style="color: green"><%= notice %></p>
<h3>Administrator Landing Page</h3>

<h4>Welcome, Admin</h4>

<p>As an administrator, you have access to manage users, monitor quotes, and oversee the smooth operation of the MyQuote platform.</p>
